body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;

}

nav {
    width: 100%;
    color:#ffffff;
    background-color: #1f172c;
}

nav  > ul {
    width: 64%;
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

nav > ul > li {
    padding: 0 32px 0 0;
}

.download_cv {
    color: white;
    background-color: #d5213a;
    border: 9px solid #d5213a;
    border-radius: 5px;
}

main {
    width: 100%;
}

.main_section {
    display: flex;
    background-color: #1f172c;
    color: white;
}

.intro-box {
    margin:128px 24px 0 128px;
    width: 32%;
}



.greetings-box {
    border: 12px solid #52182e;
    border-radius: 4px;
    background-color: #52182e;
}

.myName {
    font-family: 'Libre Baskerville', serif;
    font-size: 2rem;
    margin: 20px 0 0 0;
}

.myPosition {
    padding-bottom: 10px;
    margin: 8px 0 0 0;
}

.picture {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 36%;
    padding: 0 0 0 16px;
}

.follow-me {
    margin: 128px 0 0 0;
    color: #d5213a;
    writing-mode: vertical-lr;
}

.socials {
    color: #d5213a;
    margin: 310px 0 0 -16px;
}

.social-media {
    padding: 15px 0 0 0;
}